.productHead {
    margin-top: 40px;margin-left:20px;font-size: 20px;
}

.box{display:flex; align-items: center; background-color: white; width:100%; position: relative;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; margin-top: 20px; }

.box>div:nth-child(1), .box>div:nth-child(3){
    
    margin:4px; position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:5px 10px;
    border-radius: 50%;
}
.box>div:nth-child(3){
    right:10px;
}

.anchor{background-color: white;}

.box>div:nth-child(3):hover .icon,.box>div:nth-child(3):hover,.box>div:nth-child(1):hover .icon,.box>div:nth-child(1):hover{
    background-color: red;
    color:white; cursor: pointer;
}
/* .icon:hover{background-color: red;color:white} */

.container{width:100%;background:white; overflow:hidden;}

.container>div{
    display:flex;
    overflow: hidden;
    background-color: white;
    font-size: 15px;
width:100%
}
 .container>div>div{
    padding:50px 1% 0 1%;
    margin:0 1%;
    cursor: pointer;
 width:16%;
 flex:none;
} 
.container img{width:100%;}
.container>div>div,.container p{
    background-color: white;

    text-align: center;
    
}
.container p {padding:7px  0px 15px 0px}



.container>div>div:hover{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border-radius: 10px;}



.loader {
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 15px solid rgb(14, 250, 231);
    border-bottom: 15px solid white;
    border-left:15px solid white;
    border-right:15px solid rgb(224, 255, 252);
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




@media screen and (min-width:100px) and (max-width:600px){
    .container>div>div{width:29%}

    .box>div:nth-child(1), .box>div:nth-child(3){
    
        margin:2px; position: absolute;
        background-color: white;
        font-size: 14px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding:4px 8px;
        border-radius: 50%;
    }
    .container>div{font-size: 13px;
    }
 .loader{height:30px; width:30px; border-width:8px;}   

}