.please {
  text-align: center;

  color: #212121;
  font-size: 16px;
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 22.8571px;
}
.container{margin-top: 10px;}

.head {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 510px;
  width: 50%;
  margin: auto;
  position: absolute;
  margin-left: 24%;
  padding-bottom: 1.3%;
}

.banner {
  height: 526px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flat,
.land,
.pin,
.loc,
.city,
.state,
.nm,
.mob {
  display: flex;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  
  border-radius: none;
  border: none;
  margin: auto;
  text-align: left;
  margin-top: 3%;
  width: 80%;
  height: 30px;
  padding-left: 2%;
}

.hoo {
  width: 220px;
  margin: auto;
  padding-left: 5%;
  margin-top: 20px;
  height: 30px;
  gap: 6%;
}


.can_sa {
  width: 20%;
  margin-left: 39%;
margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20%;
}

.cancel,
.save {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  width: 90%;
  margin-top: 5%;
  height: 30px;
  cursor: pointer;
}


.home,
.office,
.other {
  cursor: pointer;
 
}
.cancel:hover{background-color: red; color:white}

.alert{
  position:fixed; top:20px; left:50%; transform: translate(-50%);
  width:350px; background-color: rgb(255, 200, 200);
  display: flex;  padding: 15px 20px;
  justify-content: space-between; flex-wrap: none; border-radius: 10px; cursor: pointer;
}
.alert p,.cross{background-color: rgb(255, 200, 200);color:black;}
.cross{font-size: 18px;}


@media screen and (min-width: 500px) and (max-width: 1100px) {
  .head {
    width: 70%;
  }

  .hoo {
    width: 80%;
    margin-top: 4%;
    margin-left: -0.2px;
    align-items: center;
    justify-content: center;
  }

  .cancel,
  .save {
    border: 1px solid red;
  }
}


@media screen and (min-width: 100px) and (max-width: 500px) {
  .head {
    width: 100%;
    margin-left: -1px;
    height: 100%;
  }
  .hoo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10%;
    margin-top: 3%;
  }
  .can_sa {
    gap: 20%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cancel,
  .save {
   padding-left: 15%;
   padding-right: 15%;
   
  }
}
