
.careplanb{
    background-color: transparent;
    margin: 5px auto;
    padding: 1px ;
    width: 97%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.careplanb > img{
    width: 100%;
    margin: auto;
    align-items: center;
}
.leading{width:92%}
.banner1{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 1px ;
    width: 97%;
    background-color: red;
}

@media screen and (min-width:100px) and (max-width:650px){
.careplanb{width:95%}
.leading{width:90%}
}
