
.container {width:97%; margin:auto;}

.box{display: grid; grid-template-columns: 1.3fr 1fr;}
.container img{width:100%; height:100%;}

.text{font-size: 22px; text-align: center; background-color: white; padding:30px 5px;}


@media screen and (min-width:600px) and (max-width:850px) {
    .text{font-size: 18px;background-color: white;}
}


@media screen and (min-width:100px) and (max-width:600px) {
    .text{font-size: 17px;background-color: white;}
    .box{grid-template-columns: 1fr;}
    .box div:nth-child(1){display: none;}
}