@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.sp {
  height: 100%;
  width: 100%;
}

.head {
  background-color: #ffffff;
  margin-top: 50px;
  padding-left: 7.2%;
  padding-top: 1%;

  
}

.container {
  height: 70%;
  background-color: #ffffff;
  padding-bottom: 8%;
}

.imgDiv {
  background-color: #ffffff;
  height: 380px;
 
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}
.pimg {
  display: block;
  height: 80%;
  width: 60%;
  transition: transform 0.4s;
}
.pimg:hover {
  width: 380px;
  height: 380px;
  cursor: pointer;
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

.info {
  background-color: #ffffff;

}


.review_rtng {
  background-color: #ffffff;
  height: 6%;
  display: flex;
  margin-top: 3%;
  gap: 5%;
}
.rev {
  background-color: #1aab2a;
  display: flex;
  width: 50px;
  height:27px;
  align-items: center;
  justify-content: center;
}

.rtng_cnt_revw {
  color: #ff6f61;
  background-color: #ffffff;
}

.ph {
  background-color: #ffffff;
  color: #212121;
  margin-top: 3%;
}

.lst {
  background-color: #ffffff;
  margin-left: 5%;
  margin-top: 3%;
}
.sideDiv {
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width:270px;
}

.people {
  padding-left: 5px;
  background-color: #edf9ee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.prcDiv {
  background-color: #ffffff;
  border: 1px solid red;
}

.flx {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  background-color: #ffffff;
  margin-top: 5px;

  align-items: center;
  gap: 10px;
}

.chk1 {
  background-color: #ffffff;

  font-size: 21px;

}

.mrp1 {
  background-color: #ffffff;
  transform: scale(1.1);
}

.discnt {
  background-color: #ccf0d0;
padding-left: 3px; padding-right: 3px;  

  transform: scale(1.1);
  color: green;
}




.free {
  background-color: #ffffff;
  color: #3b3b3b;
  font-size: 15px;
  line-height: 22.8571px;
  margin-top: 5px;
}

.corePlan {
  background-color: #ffffff;
  position: absolute;
  margin-left: 9%;
  margin-top: 3.5%;
}

.incl {
  background-color: #ffffff;
  color: #666666;
  margin-left: 20px;
  font-family: Clear Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 7px;
  margin-bottom:7px;
}

.slct {
  background-color: #ffffff;
  height: 30px;
  width: 80px;
  padding:4px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}

option:hover {
  cursor: pointer;
  background-color: #fff3e3;
}

.slct_txt {
  background-color: #ffffff;
  align-items: center;
  font-size: 14px;
  gap:5px;
  margin-right: 5px;
  /* gap: 2%; */
}

.stck {
  background-color: #ffffff;
  margin-left: 10px;
  font-size: 14px;
}

.addToCart {
  background-color: #ff6f61;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;

  width: 90%;
  color: #ffffff;
  font-size: 17px;
  padding-top:12px;
  padding-bottom:12px;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom:20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}


.addToCart:hover{background-color: #fc5647;}


.ear {
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 30px;
  padding:20px;

}

.del {
  background-color: #ffffff;
  line-height: 25.7143px;
  padding-top: 6px;
  font-size: 18px;

  font-style: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.pm {
  background-color: #ffffff;
  color: #1aab2a;
  line-height: 25.7143px;
  font-size: 18px;
  font-style: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.delive {
  background-color: #ffffff;
  margin-top: 6px;
  color: #767676;
  font-size: 14px;
}
.pin {
  background-color: #ffffff;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.med_off {
  border: 1px solid red;
  background-color: #ffffff;
  margin-top: 8%;
}


.information{display: grid; width:93%; font-size: 15px; margin:auto;  margin-bottom: 40px; grid-template-columns: 1.3fr 1fr;gap:20px;
 background-color: #f6f6f6;}

.ki_kb_sf {
  background-color: #ffffff;
  padding:20px; 
}

.descrip {
  background-color: #ffffff;
}

.ki,.kb,.sf {
  background-color: #ffffff;
  margin-top: 20px;
}

.ki_li,.kb_li,.sf_li {
  background-color: #ffffff;
 
  padding-top: 15px;
  padding-left: 20px;
}





.mrp_prc_dscnt {
  background-color: #ffffff;
}

label {
  background-color: #ffffff;
}

.infabt {
  background-color: #ffffff;
  font-size: 22px;
  margin-bottom: 10px;
}

.img1 {
  background-color: #ffffff;
  width: 100%;
    margin-top: 30px;
  display: block;
}

.med {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.additional_offers {

  width: 100%;
  margin-top: 30px;
}

.labTest {
  width:100%;

}

.docCons {
  width:100%;
  margin-top: 20px;
}
.information li{margin: 5px;}
.ags {
  width:100%;

  margin-top: 20px;
}

.cdt {
  width:100%;

  margin-top: 20px;
}

.rtngRev {
  margin-top: 20px;
  background-color: #ffffff;
}


.prdrtnd{
  color: #1aab2a;
  background-color: #ffffff;
}
.icn{
  height: 40px;
}


.align {
  background-color: #ffffff;
  /* gap: 3%; */
display: grid; grid-template-columns: repeat(3,1fr);
gap:30px;
width:93%; margin:auto;
margin-top: 40px;
}

.align li{font-size: 15px;margin:5px;margin-left: 10px;}


.loader {
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid rgb(14, 250, 231);
  border-bottom: 15px solid white;
  border-left:15px solid white;
  border-right:15px solid rgb(224, 255, 252);
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin:auto;
  margin-top: 140px;
  margin-bottom: 250px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




@media screen and (min-width:650px) and (max-width:900px){
  .align{grid-template-columns: repeat(2,1fr);gap:20px;}
  .head{font-size: 14px; margin-right: 9px;}
.information{grid-template-columns: 1fr;gap:20px;}
  

}

@media screen and (min-width:100px) and (max-width:650px){
  .align{grid-template-columns: repeat(1,1fr);gap:20px;}
  .head{font-size: 14px; margin-right: 9px;}
.information{grid-template-columns: 1fr;gap:20px; font-size: 14px;}
.infabt{font-size: 18px;}
.productName {font-size: 19px;}
.ph{font-size: 16px;margin-top: 20px;}
.align li{font-size: 14px;}
.loader{height:30px; width:30px; border-width:8px;}   
}